.classify {
    width: 188px;
}

#classify-title {
    background: #ff2832;

}

.classify-font {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.classify-content-title {
    cursor:pointer;
    color: #ff2832;
    font-weight: 800;
}

.classify-content-con {
    width: auto;
    color: grey;
    padding: 0;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 12px;
    /*border-right:solid 1px black;*/
}

.classify-con {
    cursor:pointer;
    float: left;
    /*background:chocolate;*/
}

.classify-xian {
    margin-top: 4px;
    margin-left: 3px;
    float: left;
    width: 1px;
    height: 10px;
    background: #b0b0b0;
}

.classify-content-all {
    /*background:chartreuse;*/
    margin-left: -5px;
}

.classify-bottom-xian {
    display: inline-block;
    position: relative;
    top: 0;
    height: 1px;
    width: 155px;
    background: #b0b0b0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.trun_img {
    position: relative;
    top: -595px;
    left: 370px;
}

.new-trends {
    width: 240px;
    position: relative;
    top: -905px;
    left: 1150px;
    border: solid 1px #d6d6d6;
    border-radius: 2%;
}

.new-trends-title {

    font-size: 18px;
    font-weight: 600;
}

.new-trends-content {
    margin-top: 10px;
}

.new-trends-content ul {
    list-style: none;
}

.new-trends-content li {
    margin-bottom: 5px;
}

.new-trends-content li a {
    color: black;
    font-size: 13px;
}

.new-trends-content li img {
    width: 10px;
    height: 10px;
}

.little-lunbotu {
    width: 240px;
    height: 180px;
    position: relative;
    top: -895px;
    left: 1150px;
    border: solid 1px #d6d6d6;
    border-radius: 2%;
}

/*小轮播图*/
.test {
    width: 250px;
    position: relative;
    left: -10px;
    /*height: 400px;*/
}

.item {
    width: 250px;
}

.active {
    width: 250px;
}

#myCarousel .carousel-indicators .active {
    background: #c7c7c7;
    width: 10px;
    height: 10px;
    margin-bottom: 5px;
}

.test-word {
    width: 100px;
    position: relative;
    left: 120px;
    top: -105px;
}

.carousel-control {
    background: none;
    box-shadow: none;
}

.glyphicon-chevron-left {
    color: #ff2832;
    position: relative;
    top: -100px;
}

.glyphicon-chevron-right {
    color: #ff2832;
    position: relative;
    top: -100px;
    left: 190px;
}

.carousel-indicators li {
    /*color:#487A6F ;*/
    background: #ff2832;
}

.new-all {
    position: relative;
    top: -900px;
    left: 200px;
}

.new-title {
    float: left;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    font-size: 38px;
    font-weight: 400;
    font-family: 楷体;
    background: #ff2832;
    border-radius: 50%;
}

.new-content {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    color: #ff2832;
    font-size: 20px;
}

.new-xian {
    width: 680px;
    height: 1px;
    background: #ff2832;
    position: relative;
    top: -905px;
    left: 270px;
}

/*中间新书的轮播图*/
/*控制被选中点点的颜色*/
#new-myCarousel .carousel-indicators .active {
    background: #c7c7c7;
    width: 10px;
    height: 10px;
    margin-bottom: 1px;
}

#new-row {
    width: 750px;
    height: 545px;
}

.new-car-inn {
    width: 750px;
    height: 545px;
}

.new-car {
    width: 750px;
    height: 545px;
    position: relative;
    top: -890px;
    left: 370px;
}

#new-myCarousel {
    width: 750px;
    height: 545px;
}

.new-active {
    width: 750px;
    height: 545px;
}

/*新书左右翻滚*/
.new-left {
    position: relative;
    top: -240px;
}

.new-right {
    position: relative;
    top: -240px;
    left: 500px;
}

.new-title-word {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.new-author {
    margin-bottom: 3px;
    margin-left: 20px;
    font-size: 12px;
    color: #929292;
}

.cost-price-icon {
    margin-left: 20px;
    float: left;
    font-size: 15px;
    font-weight: 600;
    color: #D45328;
}

.cost-price {
    float: left;
    font-size: 15px;
    font-weight: 600;
    color: #D45328;
}

.original-price-icon {
    float: left;
    font-size: 14px;
    color: #929292;
    text-decoration: line-through;
    margin-left: 10px;

}

.original-price {
    float: left;
    font-size: 14px;
    color: #929292;
    text-decoration: line-through;
}

/*新书热卖*/
.hot-book {
    width: 240px;
    height: 540px;
    position: relative;
    top: -1500px;
    left: 1150px;
}

.hot-book-content {
    width: 240px;
    height: 480px;
    border: solid 1px #d6d6d6;
    position: relative;
    top: 45px;
    left: 15px;
}

.hot-book-title {
    font-size: 18px;
    position: relative;
    top: 15px;
    left: -50px;
    color: red;
}

.hot-book-icon {
    position: relative;
    top: 10px;
    left: -10px;
}

.hot-book-main {
    margin: 0;
    padding: 0;
    position: relative;
    top: -25px;
    width: 240px;
    border: none;
}

.hot-book-main a {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: black;
    text-align: center;
    width: 48px;
    height: 20px;
}

.hot-book-main li {
    width: 48px;
    height: 20px;
    float: left;
    margin: 0;
    padding: 0;
}

.nav > li > a {
    padding: 0;
}

.nav > li {
    margin: 0;
}

#myTab li {
    padding: 0;
    margin: 0;

}

.hot-book-first {
    position: relative;
    left: -95px;
    border-bottom: solid 1px #d6d6d6;
    border-right: solid 1px #d6d6d6;
}

.hot-book-second {
    position: relative;
    left: -95px;
    border-bottom: solid 1px #d6d6d6;
    border-right: solid 1px #d6d6d6;
}

.hot-book-three {
    position: relative;
    left: -95px;
    border-bottom: solid 1px #d6d6d6;
    border-right: solid 1px #d6d6d6;
}

.hot-book-four {
    position: relative;
    left: 142px;
    top: -20px;
    border-bottom: solid 1px #d6d6d6;
    border-right: solid 1px #d6d6d6;
}

.nav-tabs > li.active > a:focus {
    border-top: solid 2px red;
    border-bottom: none;
    color: red;
}

.nav-tabs > li.active > a {
    border-top: solid 2px red;
    border-bottom: none;
    color: red;
}

.hot-img img {
    width: 115px;
    height: 120px;
}

.tab-content {
    /*background: chartreuse;*/
    position: relative;
    top: -30px;
}

.hot-num {
    font-size: 18px;
    color: red;
    font-weight: 600;
    margin-left: 10px;
}

.hot-book-name {
    overflow: hidden;
    width: 80px;
    height: 50px;
    font-size: 12px;
    margin-right: 0;
}

.hot-book-name a {
    color: black;
}

.hot-cost-price-icon {
    float: left;
    font-size: 15px;
    font-weight: 600;
    color: #D45328;
    margin-top: 3px;
}

.hot-cost-price {
    width: 45px;
    float: left;
    font-size: 15px;
    font-weight: 600;
    color: #D45328;
    margin-top: 3px;

}

.hot-original-price-icon {
    float: left;
    font-size: 14px;
    color: #929292;
    text-decoration: line-through;
    margin-top: 3px;

}

.hot-original-price {
    width: 45px;
    float: left;
    font-size: 14px;
    color: #929292;
    text-decoration: line-through;
    margin-top: 3px;
}

.hot-comment a {
    float: left;
    margin-top: 3px;
    font-size: 14px;
    color: rgba(232, 19, 61, 0.54);
}

.hot-comment div {
    float: left;
    margin-top: 3px;
    font-size: 14px;
    color: rgba(232, 19, 61, 0.54);
}

.hot-xian {
    width: 220px;
    height: 1px;
    background: #d6d6d6;
    position: relative;
    top: 140px;
    left: 22px;
}

.hot-infor {
    margin-bottom: 30px;
}

.hot-normal a {
    color: black;
    font-size: 12px;
    margin-left: 15px;
    position: relative;
    top: 3px;
}

.hot-normal-num {
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
}

.hot-normal-xian {
    width: 220px;
    height: 1px;
    background: #d6d6d6;
    position: relative;
    top: 10px;
    left: 22px;
    margin-bottom: 15px;
}
/***************************************hot-author*********************/
.hot-author{
    /*background: aqua;*/
    width: 1215px;
    height: 510px;
    border: solid 1px #d6d6d6;
    position: relative;
    left: 173px;
    top: -1440px;
}
.hot-author-title{
    width: 1215px;
    height: 40px;
    /*background: blue;*/
    position: relative;
    left: 14px;
}
.hot-author-name{
    font-size: 19px;
    color: red;
    border-top: solid 2px red;
    text-align: center;
    line-height: 40px;
}
.hot-author-other{
    /*background: #D45328;*/
    height: 40px;
    border-left: solid 1px #d6d6d6;
    border-bottom: solid 1px #d6d6d6;
}
.hot-author-information{
    width: 900px;
    height: 175px;
    /*background: antiquewhite;*/
    margin-left: 0;
}
.num-1{
    float: left;
    color: red;
    font-weight: 600;
    font-size: 30px;
    position: relative;
    left: -170px;
}
.num-st{
    margin-top: 13px;
    float: left;
    color: red;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    left: -167px;
}
.hot-author-img{
    /*background: aqua;*/
    /*width: 180px;*/
    position: relative;
    left: -190px;
    top: 20px;
}
.author-name{
    /*background: #D45328;*/
    float: left;
    font-size: 20px;
    color: black;
    font-weight: 600;
    position: relative;
    left: 240px;
    top: -110px;
}
.author-content{
    padding: 0;
    /*background: #D45328;*/
    width: 605px;
    position: relative;
    left: 220px;
    top: -80px;
}
.author-content-p{
    font-size: 13px;
    color: gray;
    width: 590px;
    position: relative;
    left: 20px;
    top: -20px;
}
.infor-work-cut{
    position: relative;
    top: -1750px;
    left: 180px;
    width: 755px;
    height: 20px;
    /*background: #487A6F;*/
}
.cut-work{
    width: 65px;
    height: 20px;
    text-align: center;
    border-radius: 10%;
    background: #d6d6d6;
}
.information-work-xian{
    width: 800px;
    height: 1px;
    background: #d6d6d6;
    position: relative;
    left: 90px;
    top: -10px;
}
.hot-author-work{
    width: 895px;
    position: relative;
    top: -1720px;
    left: 230px;
}
.work-cost-icon{
    margin-left: 20px;
    margin-top: 10px;
    float: left;
    font-size: 15px;
    font-weight: 600;
    color: #D45328;
}
.work-cost-price{
    margin-top: 10px;
    float: left;
    font-size: 15px;
    font-weight: 600;
    color: #D45328;
}
.work-original-icon{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    font-size: 14px;
    color: #929292;
    text-decoration:line-through;
}
.work-original-price{
    margin-top: 10px;
    float: left;
    font-size: 14px;
    color: #929292;
    text-decoration:line-through;
}
.work-title{
    margin-left: 20px;
    margin-top: 10px;
}
.author-sort{
    background-color: #f8f8f8;
    width: 230px;
    border: solid 1px #d6d6d6;
    position: relative;
    top: -2150px;
    left: 1120px;
}
.author-sort-content{
    width: 210px;
    height: 45px;
    line-height: 45px;
    /*background: brown;*/
    margin-left: 8px;
    border-bottom: solid 1px #d6d6d6;
}
.author-sort-num{
    float: left;
    color: red;
    font-size: 20px;
}
.author-sort-name{
    margin-left: 20px;
    float: left;
    font-size: 18px;
}

.books-order{
    width: 1225px;
    /*background: #D45328;*/
    position: relative;
    top: -2130px;
    left: 160px;
}
.book-order-content img{
    width: 400px;
    height: 167px;
}
