body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;

}

a:link, a:visited {
    text-decoration: none;
    color: #969696;
}
* {
    margin: 0;
    padding: 0;
}


.my_title .btn {
    background-color: #ff2832;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    width: 122px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin: 9px 12px 0 0;
}

.my_main {
    width: 990px;
    padding: 0 0 0 10px;
    float: left;
}
.my_title {
    height: 48px;
    line-height: 48px;
    background: #fafafa;
    border: 1px solid #dcdcdc;
            overflow: hidden;
}
.my_title .title {
    margin: 15px 0 15px 10px;
    padding: 0 0 0 10px;
    font-size: 16px;
    color: #323232;
    line-height: 18px;
    border-left: 2px solid #ff2832;
    display: inline-block;
}

.my_title .tip {
    color: #313131;
    font-size: 14px;
    padding-left: 20px;
}

.fr {
    float: right;
}
.red {
    color: #ff2832 !important;
}

.address_list {
    border: 1px solid #d9d9d9;
    border-top: none 0;
    padding: 30px 0 60px 25px;
    margin-bottom: 20px;
}

.address_list ul {
    overflow: hidden;
}
.pop .btn_bar {
    text-align: center;
    padding: 0 0 5px;
}
.pop.delete {
    margin: -90px 0 0 -195px;
}

.pop {
    border: 1px solid #cdcdcd;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -208px 0 0 -294px;
    z-index: 10010;
}
.pop .delete_con {
    width: 388px;
    height: 180px;
    box-sizing: border-box;
    text-align: center;
}
.pop .delete_con h2 {
    font-size: 14px;
    color: #787878;
    padding-top: 55px;

}

.pop .pop_title {
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    border-bottom: 1px solid #cdcdcd;
    font-size: 14px;
}

.pop .pop_con {
    padding: 15px;
}

.pop .btn_bar {
    text-align: center;
    padding: 0 0 5px;
}
.pop.delete .btn_bar .btn {
    height: 32px;
    line-height: 32px;
    border: 1px solid #ff2832;
    margin: 35px 35px 35px 0;
    padding: 0;
    width: 106px;
}

.pop .btn_bar .btn {
    height: 28px;
    line-height: 28px;
    padding: 0 35px;
    margin: 20px 0;
    background-color: #ff2832;
    text-align: center;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
}

.pop .delete .btn_bar .btn .cancle {
    background-color: #fff;
    color: #787878;
    border-color: #bfbfbf;
    margin-right: 0;
}

.pop {
    border: 1px solid #cdcdcd;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -208px 0 0 -294px;
    z-index: 10010;
}

.pop .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 13px;
    height: 13px;
    display: block;
    background: url(../images/icon_address.png) 0 -80px no-repeat;
}

.address_list .addr {
    width: 204px;
    padding: 2px 8px 0;
    height: 120px;
    float: left;
    line-height: 22px;
    background: #fbfbfb;
    margin: 0 17px 20px 0;
    position: relative;
    color: #000;
    border: 1px solid #e6e4e2;
    cursor: pointer;
}

.address_list .addr h1 {
    font-weight: normal;
    line-height: 30px;
    border-bottom: 1px solid #e6e6e6;
    margin: 0 0 8px;
    font-size: 12px;
}

.address_list .addr .icon.man {
    background-position: 0 0;
    margin-top: 9px;
    *margin-top: 2px;
}
.address_list .addr  .icon {
    display: inline-block;
    width: 12px;
    margin: 1px 5px 0 0;
    height: 16px;
    background-image: url(../images/icon_address.png);
    background-repeat: no-repeat;
    vertical-align: top;
}
.address_list  .addr  p {
    height: 36px;
    line-height: 18px;
    overflow: hidden;
    margin-bottom: 6px;
}
.address_list .addr .icon.lbs {
    background-position: 0 -19px;
}

span {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 12px;
    background: transparent;
    list-style: none;
}
.address_list .addr .icon {
    display: inline-block;
    width: 12px;
    margin: 1px 5px 0 0;
    height: 16px;
    background-image: url(../images/icon_address.png);
    background-repeat: no-repeat;
    vertical-align: top;
}



.address_list .addr  .txt {

    display: inline;
    width: 187px;


}

.address_list .addr .tag {
    line-height: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 5px;
    color: #0000ff;
    border: 1px solid #0000ff;
    border-radius: 2px;
    padding: 0 4px;
}

.address_list .addr .icon.tel {
    background-position: 0 -40px;
}

.address_list .addr .op {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: none;
}
.address_list ul {
    overflow: hidden;
}

.address_list .addr a {
    color: #b17474;
    padding: 0 0 0 10px;
}

.address_list .addr a:hover {
    color: #ff2832;
}
.address_list .addr:hover .op, .address_list .addr:hover a.fr {
    display: block;
}

a:hover {
    text-decoration: none;
    color: #646464;
}